---

    - name: Gather service facts
      service_facts:

    - name: Show PostgreSQL service status
      debug:
        msg: "postgresql.service state is {{ ansible_facts.services['postgresql.service'].state }}"
      when: "'postgresql.service' in ansible_facts.services"

    - name: Show SonarQube service status
      debug:
        msg: "sonarqube state is {{ ansible_facts.services['sonarqube.service'].state }}"
      when: "'sonarqube.service' in ansible_facts.services"

    - name: Stop PostgreSQL service if running
      service:
        name: postgresql.service
        state: stopped
      when:
        - "'postgresql.service' in ansible_facts.services"
        - ansible_facts.services['postgresql.service'].state == "running"

    - name: Stop SonarQube service if running
      service:
        name: sonarqube
        state: stopped
      when:
        - "'sonarqube.service' in ansible_facts.services"
        - ansible_facts.services['sonarqube.service'].state == "running"
